<!-- Partial for object that generates password -->

  <!-- Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Thasadith&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/generatePassword.css" type="text/css" />

<form>
  <h1>Create Secure Password</h1>

  <div class="options">
    <div class="sections">
      <h2>Password Length</h2>
        <form>
        <div id="slideContainer">
          <input type = "text" class="sliderValue" data-index="0" value="10" >
        </div>
        <div id="slider"></div>
      </form>
    </div>
  </div>


    <div class="sections">
      <h2>Contains</h2>

      <label class="container">Uppercase
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="container">Lowercase
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container">Numbers
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container">Symbols
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <button class="submit" type="submit">Generate Password</button>

</form>



<script>
  $(document).ready(function() {
  $("#slider").slider({
      min: 0,
      max: 100,
      step: 1,
      values: [10],
      slide: function(event, ui) {
          for (var i = 0; i < ui.values.length; ++i) {
              $("input.sliderValue[data-index=" + i + "]").val(ui.values[i]);
          }
      }
  });

  $("input.sliderValue").change(function() {
      var $this = $(this);
      $("#slider").slider("values", $this.data("index"), $this.val());
  });
});
</script>
