<!-- Partial for object that generates password -->
<form>
  <h1>Create Secure Password</h1>

  <h2>Password Length</h2>
  <input type = "text">
  <input type="range" min="1" max="100" value="50" class="slider" >

  <h2>Contains</h2>

  <ul>
    <li>Uppercase</li>
    <li>Lowerase</li>
    <li>Numbers</li>
    <li>Symbols</li>
  </ul>

  <button type="submit">Generate Password</button>


  </form>
