<!-- Partial for object that generates password -->

  <!-- Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Thasadith&display=swap" rel="stylesheet">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/generatePassword.css" type="text/css" />

<form>
  <h1>Create Secure Password</h1>

  <div class="options">
    <div class="sections">
      <h2>Password Length</h2>
        <div id="slider">
          <input id="text-box" type = "text">
          <input id="slidecontainer" type="range" min="1" max="100" value="50" class="slider" >
        </div>
    </div>

    <div class="sections">
      <h2>Contains</h2>

      <label class="container">Uppercase
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>

      <label class="container">Lowercase
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container">Numbers
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>

      <label class="container">Symbols
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <button class="submit" type="submit">Generate Password</button>


</form>
