<!-- Partial header for header -->
<header>
  "SIGNUM"

  Login/Username <!--Show login/username depending on if user is logged in or not *MUST BE IMPLEMENTED*-->
    <form class = 'login' action = '/login' method = 'POST'></form>

  Menu Bar To Open
    <form></form>

  Menu Bar To Close
    <form>
      <ul>
      </ul>


    </form>

    ADD button

</header>

