<head>
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
<!-- Google Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Thasadith&display=swap" rel="stylesheet">
  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>


  <!-- FONT AWESOME REF-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

      <!-- jQuery-->
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

        <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

  <title>Home Page</title>
</head>
<!-- Partial header for header -->
<header>

  <span>
    <div class="top-bar">
      <!-- Favourites Icon-->
      <a href = "/" >
        <i class="fa-solid fa-star"></i>
      </a>

      <!-- App CSS -->
      <link rel="stylesheet" href="/styles/header.css" type="text/css" />

      <h1 class="title">SIGNUM</h1>
    </div>

    <!--Show login/username depending on if user is logged  or not-->
    <% if(user){ %>
      <form action="/logout" method="POST">
        <p>Logged in as <%= user.username %></p>
        <button>Logout</button>
      </form>

    <% } else{ %>
      <form action="/login" method="GET">
        <button >Login</button>
      </form>
   <% } %>


  </span>

    <nav class="menu">

            <!-- Menu Bar To Open -->
    <div>
        <h2> Menu </h2>
        <!-- <form> -->
          <i class="fa-solid fa-angles-right"></i>
        <!-- </form> -->
    </div>

    <!-- Menu Bar To Close -->
      <!-- <form>
        <ul>
        </ul>
      </form> -->


      <!-- Stretch: Search Bar -->
      <div class="search-bar flex">
        <div class="form-outline">
          <input type="search" id="form1" class="form-control" placeholder="Search" aria-label="Search" />
        </div>
      </div>




      <!-- ADD button -->


    </nav>


</header>



