<!-- Partial header for header -->
<header>
  <!-- FONT AWESOME REF-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- Favourites Icon-->
  <a href = "/" >
    <i class="fa-solid fa-star"></i>
  </a>


  <h1>SIGNUM</h1>

  <!--Show login/username depending on if user is logged in or not *MUST BE IMPLEMENTED*-->
    <form class = 'login' action = '/login' method = 'GET'>
      <button>Log In(assuming logged out atm)</button>
    </form>

  Menu Bar To Open
    <form></form>

  Menu Bar To Close
    <form>
      <ul>
      </ul>
    </form>

    ADD button

</header>



