<!DOCTYPE html>
<html lang="en">

      <!-- App CSS -->
      <link rel="stylesheet" href="/styles/login.css" type="text/css" />

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/login_check.js"></script>

</head>

<body>
  <%- include('partials/_header.ejs') %>

  <div class="login-page flex">
    <h1>Log In</h1>

    <form id = "user_login" action = "/login", method = "POST">
      <input
      id = "login"
      type = "text"
      name = "login"
      placeholder="Email or Username"
      > </input>
      <input
      id = "password"
      type = "password"
      name = "password"
      placeholder="password"> </input>
      <button > Log In </button>
    </form>
  </div>
    <!--Alerts-->
    <div id = "alert"> <%- error %> </div>

  <%- include('partials/_footer.ejs') %>

</body>
</html>
