<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header.ejs') %>

  <h1>Register</h1>

  <form>
    <input type = "text">email </input>
    <input type = "text">username </input>
    <form><input type = "password">password </input>
    </form>
    <button>Or user our SECURE PASSWORD CREATOR</button> <!-- AJAX POPUP OF _generatePassword Partial-->


<button> SIGN UP </button>

<%- include('partials/_footer.ejs') %>
</body>

</html>
