<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/styles/register.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/register.js"></script>

    <title>Registration Page</title>
  </head>

<body>
  <%- include('partials/_header.ejs') %>
  <div class="registration-page flex">
    <h1>Register</h1>
    <h2>Sign up today to save passwords securely</h2>

    <!-- <span id="error-message-empty" class="error-message-box">
      <i class="fas fa-exclamation-triangle" style= "color: red"></i>
      Please Fill in all of the required fields before signing up!
      <i class="fas fa-exclamation-triangle" style= "color: red"></i>
    </span>
    <span id="error-message-email-exists" class="error-message-box">
      <i class="fas fa-exclamation-triangle" style= "color: red"></i>
      This email is already registered to an existing account!
      <i class="fas fa-exclamation-triangle" style= "color: red"></i>
    </span>
    <span id="error-message-username-unavailable" class="error-message-box">
      <i class="fas fa-exclamation-triangle" style= "color: red"></i>
      This username is unavailable!
      <i class="fas fa-exclamation-triangle" style= "color: red"></i>
    </span> -->
    <form action="/register" method="POST" class="registration-form">
      <span></span>
      <input type = "email" name="email" placeholder="Email" class="email"></input>
      <input type = "username" name="username" placeholder="Username" class="username"></input>
      <input type = "password" name="password" placeholder="Password" class="password"></input>
      <input type = "text" name="firstName" placeholder="First Name" class="firstName"></input>
      <input type = "text" name="lastName" placeholder="Last Name" class="lastName"></input>
      <button type="submit" class="signup"> Sign up</button>
    </form>

    <%- message %>

  </div>

<%- include('partials/_footer.ejs') %>
</body>

</html>
