.favourited-logins {
  display: flex;
  flex-direction: column;

  h1 {
    align-self: center;
  }

  ul {
    display: flex;
    padding-left: 0px;
    flex-wrap: wrap;
    align-self: center;
    justify-content: space-around;
  }

  form {
    display: flex;
    align-self: center;
  }

  .card {
    border-width: 3px;
    border-color: red;
    background-color: #4f5d75;
    color: white;
    padding: 1em;
    height: 8em;
    width: 8em;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 2em;
    padding: 1em;
  }

  // @media (max-width: 1023px) {
  //   .cards { grid-template-columns: repeat(2, 1fr); }
  // }

// For desktop view - implement later
  // @media (min-width: 1024px) {
  //   .cards { grid-template-columns: repeat(3, 1fr); }
  // }

  .signup {
    margin: 5em;
  }

  .favourites {
    color: #fca311;
    padding: 10px;
  }

  .fa-regular {
      color: #4f5d75;
      padding: 10px;
    }


  .fa-regular:hover {
    color: #fca311;
  }

  .fa-pencil {
    color: #4f5d75;
    padding: 10px;
  }

  .fa-pencil:hover {
    color: #fca311;
  }

  .login-block {
    display: flex;

  }

  #feature-buttons {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    i {
      display: block}
  }

  .icon-info {
    border-style: solid;
    border-color: #4F5D75;
    border-width: 3px;
    border-radius: 2px;
    width: 100%;
    aspect-ratio: 1/1;
    margin-bottom: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #show-icon {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    background:#4F5D75;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #edit-icon {
    position: absolute;
    top: 30px;
    right: 6px;
    i {
      display: block}
  }
}

.password {
  display: none;
}
.password.open {
  display: block;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 0;
}

.btn.btn-primary{
  background-color: #4f6475;
  border-color: #4f6475;;
}

.btn.btn-primary:hover {
  background-color: #4F5D75;
  border-color: #4F5D75;
}

.btn.btn-secondary:hover {
  background-color: #fc6f11;
  border-color: #fc6f11;
}

.btn.btn-secondary{
  background-color: #FCA311;
  border-color: #FCA311;

}
